$bg-color: #7fffd4;
$bg-color-95: #7fffd4ed;
$bg-color-light: rgb(205, 238, 227);
$bg-color-disabled: rgb(208, 219, 216);

$color: #50ba97;
$color-dark: #2f9673;

html,
body {
  margin: 0;
  padding: 0;
}
body {
  padding: 10px 30px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: $bg-color-95;
  background-image: url('/images/paper_plane.png');
  background-position: center center;
  background-size: contain;
  background-blend-mode: lighten;
  background-repeat: no-repeat;
}
* {
  box-sizing: border-box;
}

h1,
h2,
h3,
p,
label {
  color: $color;
}

a,
a:visited {
  color: $color;
  text-decoration: none;
  &:hover {
    color: $color-dark;
    text-decoration: underline;
  }
}

button {
  background-color: $bg-color-light;
  border: 1px solid $color-dark;
  color: $color-dark;
  padding: 10px 20px;
  font-size: 1.4em;
  border-radius: 4px;
  cursor: pointer;
  width: auto;
}

textarea,
input {
  border-radius: 4px;
  border: 1px solid;
  padding: 5px 10px;
  color: $color;
  background-color: $bg-color-light;
  border-color: $color;
  max-width: 100%;
  width: 160px;

  &:disabled {
    background-color: $bg-color-disabled;
  }
}

textarea {
  min-width: 320px;
}
output {
  line-height: 30px;
  border-radius: 4px;
  border: 1px solid;
  padding: 5px 10px;
  color: $color;
  background-color: $bg-color-light;
  border-color: $color;
}
input[type="range"] { 
  padding: 0;
}

.container {
  display: flex;
  flex-direction: row;

  section {
    flex-grow: 1;
  }
}

.form-control {
  margin: 10px 0;
}

.form-control-inline {
  margin: 10px 0;
  display: flex;
  flex-direction: row;
  > * {
    margin-left: 10px;

    &:first-child {
      margin-left: 0;
    }
  }
}

@media only screen and (max-width: 640px) {
  * {
    box-sizing: border-box;
  }

  body {
    padding: 10px;
  }

  h1 {
    text-align: center;
  }

  textarea,
  input {
    width: 100%;
  }

  .container {
    flex-direction: column;
    section {
      width: 100%;
    }
  }
}
